.parallax{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;

    h1{
        font-size: 100px;
        z-index: 1;
    }

    // .mountains{
    //     background-image: url("/wave.svg");
    //     background-size: cover;
    //     background-position: bottom;
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     z-index: 3;
    // }
    .planets{
        background-image: url("/planets.png");
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;
    }
    .stars{
        background-image: url("/colors.svg");
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
    }

}