.navbar{
    height: 100px;

    .wrapper{
        max-width: 1366px;
        margin:auto;
        align-items: center;
        justify-content: space-between;
        display: flex;
        height: 100%;

        span{
            font-weight: bold;
            font-size: 30px;
        }

        .menus{
            display: flex;
            gap: 30px;

            a{
                color: white;
            }
        }

        .socials{
            display: flex;
            gap: 20px;
            
            img{
                width: 18px;
                height: 18px;
            }
        }
    }

}